<section *ngIf="musica">
  <h1 class="mb-4 mt-5 border-bottom">{{musica.titulo}}</h1>
  <div>
    <span *ngIf="musica.artistas.length == 1"><i class="text-muted fas fa-user"></i></span>
    <span *ngIf="musica.artistas.length != 1"><i class="text-muted fas fa-users"></i></span>
    &nbsp;
    <span *ngFor="let artista of musica.artistas; last as ultimo">
      <a [routerLink]="['/artistas', artista.id]">{{ artista.nome }}</a><span *ngIf="!ultimo">, </span>
    </span>
  </div>
  <div>
    <i class="text-muted fas fa-tag"></i>
    &nbsp;
    <a [routerLink]="['/generos', musica.genero.id]">{{musica.genero.nome}}</a>
  </div>
  <div>
    <p>{{musica.gostar}}</p>
    <button class="btn btn-success" (click)="this.disco.gostarMusica(musica)" *ngIf= "">Gostar</button> &nbsp;
    <button class="btn btn-secondary" (click)="this.disco.naoGostarMusica(musica)">Não Gostar</button>
  </div>
  <br>
  <h2>Sugestão</h2>
  <section *ngIf="musica.gostar">
    <span *ngFor="let dados of disco.listaDeMusicas()">
      <a [routerLink]="['/musica', musica.id]" *ngIf="musica.genero.id === dados.genero.id">

        <div>
          <b>{{ dados.titulo }}</b>
          <span *ngFor="let artista of dados.artista; last as ultimo">
            {{artista.nome}}
          </span>
        </div>
      
      </a>
    </span>
  </section>
</section>